.main {
  margin: auto;
  margin-top: 2rem;
  border: 1px solid gray;
  width: 80%;
  height: 100%;
}

.heading {
  height: 4rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
  border-bottom: 1px gray solid;
}

.subheading {
  background: lightgray;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  padding: 1rem;
}
