.item {
  display: flex;
  height: 6rem;
  border-bottom: 0.5px gray solid;
  padding: 0.5rem;
}

.checkbox {
  margin-left: 3rem;
}

.book-info {
  margin-left: 3rem;
}

.book-title {
  font-size: 2rem;
}

.author {
  font-size: 1.25rem;
}
