.request-container {
  width: 80%;
  margin: 3rem auto 0 auto;
  border: 1px solid gray;
}

.request {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.requester,
.take-message {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.requester a {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: blue;
  cursor: pointer;
}

.add-books {
  width: 80%;
  margin: auto;
}

.add-books button {
  background-color: white;
  border-top: none;
  border-left: 0.5px gray solid;
  border-right: 0.5px gray solid;
  border-bottom: 0.5px gray solid;
}

.submit-button {
  margin: auto;
}
