.request-container {
  width: 80%;
  margin: 3rem auto 0 auto;
  border: 1px solid gray;
}

.request {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
}

.requester {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.75rem;
  color: lightsteelblue;
  cursor: pointer;
}
