.button {
  background: lightblue;
  color: blue;
  font-size: large;
  width: 6rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto 0 auto;
}

.button:hover {
  color: lightblue;
  background: blue;
}
